.site_scroll-to-top {
  position: fixed;
  left: auto;
  top: auto;
  right: 10%;
  bottom: 5%;
  z-index: 120000;

  display: inline-flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 0.60);
  border-radius: 100%;

  background-image: linear-gradient(180deg, hsla(0, 0.00%, 100.00%, 0.20), hsla(0, 0.00%, 100.00%, 0.40));

  backdrop-filter: blur(1rem);

  transition: all 200ms ease;

  color: black;
}

.site_scroll-to-top:hover {
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 0.00);
  background-color: #404040;
  background-image: none;
  color: white;
}

.site_scroll-to-top:active {
  background-color: #626262;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.icon-1x1-medium.mute {
  display: block;
  opacity: 1;
}