.footer {
  z-index: 999;
  background-color: var(--background-color--background-primary);
  color: white;
}

@media screen and (max-width: 479px) {
  .footer {
    text-align: center;
  }
}

.footer.is-sticky {
  position: sticky;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0px;

  width: 100%;
}