.site_banner {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #bbb;
  border-radius: 0.5rem;
}

@media screen and (max-width: 767px) {
  .site_banner {
    padding: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .site_banner {
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }
}

.site_banner-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

@media screen and (max-width: 479px) {
  .site_banner-content {
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }
}

.site_banner-slot-icon {
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0.75rem 1.25rem;

  border-radius: 1.6rem;

  background-color: var(--background-color--background-primary);

  transition: all 200ms cubic-bezier(.77, 0, .175, 1);

  color: var(--text-color--text-alternate);
  text-align: center;
}

.button:hover {
  background-color: var(--base-color-neutral--neutral-dark);
  text-decoration: none;
  text-underline-offset: 0;
}

.button:active {
  background-color: #626262;
  transform: scale(0.98);
}

.button.is-text {
  border: 2px solid transparent;
  background-color: transparent;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.button.is-small {
  padding: 0.5rem 1.25rem;
}

.button.is-small.is-brand {
  background-color: var(--base-color-brand--ivory);
  color: var(--text-color--text-primary);
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px solid var(--border-color--border-alternate);
  background-color: transparent;
  color: var(--text-color--text-primary);
}

.button.is-secondary.is-add-to-cart-button {
  border-style: none;
  border-width: 0px;
  background-color: white;
}

@media screen and (max-width: 479px) {
  .button.is-secondary.is-add-to-cart-button {
    width: 100%;
  }
}

.button.is-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  text-decoration: none;
}

.button.is-icon.is-full-width {
  width: 100%;
}

.button.is-altermate {
  border: 1px solid var(--base-color-brand--ivory);
  background-color: var(--base-color-brand--ivory);
  color: var(--text-color--text-primary);
}

.button.is-altermate:hover {
  background-color: transparent;
  color: var(--base-color-brand--ivory);
}

.button.is-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

@media screen and (max-width: 479px) {
  .button.is-shop {
    width: 100%;
  }
}