.footer_sticky-faq {
  width: 100%;
  margin-top: 0rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 479px) {
  .footer_sticky-faq {
    text-align: left;
  }
}

.padding-global {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.padding-global.padding-section-large.is-full-width {
  position: relative;
  z-index: 1;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .padding-global.padding-section-large.is-responsive {
    padding-top: 8rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-global.padding-section-large.is-responsive {
    padding-top: 6rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-large.is-responsive {
    padding-right: 0%;
    padding-bottom: 0rem;
    padding-left: 0%;
  }
}

@media screen and (max-width: 991px) {
  .padding-global.padding-section-large.is-layout {
    padding-top: 8rem;
    padding-bottom: 3.5rem;
  }
}

@media screen and (max-width: 991px) {
  .padding-global.padding-section-large.is-shop {
    padding-top: 10rem;
    padding-bottom: 3.5rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-large.is-shop {
    padding-top: 8rem;
  }
}

.padding-global.padding-section-layout {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 6rem;
}

@media screen and (max-width: 991px) {
  .padding-global.padding-section-layout {
    padding-bottom: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-global.padding-section-layout {
    padding-top: 8rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-layout.no-padding-responisve {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }
}

.padding-global.padding-section-layout.no-padding-about {
  padding-bottom: 0rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-layout.no-padding-about {
    padding-right: 0%;
    padding-left: 0%;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-custom-nav {
    width: 100%;
  }
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.padding-global.padding-section-small.padding-top-0 {
  padding-top: 0rem;
}

.padding-global.padding-section-shop {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 3.75rem;
}

@media screen and (max-width: 991px) {
  .padding-global.padding-section-shop {
    padding-bottom: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-global.padding-section-shop {
    padding-top: 8rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-shop.no-padding-responisve {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.container-large.has-right-margin {
  margin-right: -2rem;
}

.container-large.is-partner-grid {
  min-width: 80rem;
}

.fs_accordion-1_component {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.fs_accordion-1_embed {
  margin-bottom: 0rem;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-bottom.margin-xsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xsmall {
  margin: 0.5rem;
}

.margin-bottom.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxsmall {
  margin: 0.25rem;
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-small {
  margin: 1rem;
}

.margin-bottom.margin-tiny {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-tiny {
  margin: 0.125rem;
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 991px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.25rem;
  }
}

.fs_accordion-1_label {
  color: #999;
  font-size: 1.25rem;
  font-weight: 300;
}

.text-weight-semibold {
  font-weight: 600;
}

.fs_accordion-1_label.text-weight-medium {
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (max-width: 479px) {
  .fs_accordion-1_label.text-weight-medium {
    font-size: 1.25rem;
  }
}

.text-weight-medium {
  font-weight: 500;
}

.fs_accordion-1_item {
  border-bottom: 1px solid #444;
}

.fs_accordion-1_item.is-last {
  border-bottom-style: none;
  border-bottom-width: 0px;
}

.fs_accordion-1_header {
  display: flex;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  background-color: transparent;

  cursor: pointer;
}

.fs_accordion-1_header:focus-visible {
  outline-color: var(--accessibleComponentsDarkGrey-c4d8099c);
  outline-offset: 4px;
  outline-style: solid;
  outline-width: 2px;
}

@media screen and (max-width: 479px) {
  .fs_accordion-1_header {
    padding-top: 1rem;
  }
}

.fs_accordion-1_header.is-first {
  padding-top: 0rem;
}

.fs_accordion-1_icon {
  position: relative;
  margin-right: 0rem;
  font-size: 1.125rem;
}

.fs_accordion-1_content {
  overflow: hidden;
}

.fs_accordion-1_body {
  padding: 1rem 0rem;
}

@media screen and (max-width: 479px) {
  .fs_accordion-1_body {
    padding-bottom: 1rem;
  }
}

.fs_accordion-1_paragraph {
  margin-bottom: 0rem;
  font-size: 0.875rem;
}

.fs_accordion-1_body-table-grid {
  display: grid;
  margin-top: 1.5rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 7.5rem;
  grid-row-gap: 7.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .fs_accordion-1_body-table-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }
}

.frame-table_instance {
  display: block;
}

.text-size-small {
  font-size: 0.875rem;
}

.frame-table_table {
  width: 100%;

  border: 1px none black;

  font-size: 0.75rem;
  font-weight: 400;
  text-align: left;

  border-collapse: collapse;
}

.frame-table_head {
  border: 1px none black;
}

.frame-table_row {
  border: 1px none black;
  text-align: left;
}

.frame-table_row.is-grey {
  background-color: #2c2c2c;
}

.frame-table_header {
  padding: 8px;
  border: 1px none black;
  font-weight: 400;
  text-align: left;
}

.frame-table_cell {
  padding: 8px;
  border: 1px none black;
  text-align: left;
}

.fs_accordion-1_paragraph-link {
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.text-rich-text-small {
  font-size: 0.875rem;
}

.text-rich-text-small h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text-small h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text-small h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text-small h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text-small h5 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text-small h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text-small p {
  margin-bottom: 1rem;
}

.text-rich-text-small ul {
  margin-bottom: 1.5rem;
}

.text-rich-text-small ol {
  margin-bottom: 1.5rem;
}

.text-rich-text-small a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.text-rich-text-small blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 479px) {
  .text-rich-text-small.product_hover_description {
    font-size: 0.75rem;
  }
}

#w-node-_4cf3bdb3-4030-41f6-a126-c01e136bfc69-136bfc64 {
}
#w-node-_4cf3bdb3-4030-41f6-a126-c01e136bfc6a-136bfc64 {
}
#w-node-_4cf3bdb3-4030-41f6-a126-c01e136bfcb8-136bfc64 {
}
#w-node-_4cf3bdb3-4030-41f6-a126-c01e136bfce2-136bfc64 {
}
#w-node-_25369228-0890-ddd5-123c-5ea9d95c5f15-136bfc64 {
}